/* Mobile & Tablet */
@media (max-width: 992px){
    .hide-on-mobile-tablet{
        display: none;
    }
    .show-on-mobile-tablet{
        display: block;
    }
    .product__card:hover .product__img-after{
        display: none;
    }
    .product__card:hover .product__add{
        visibility: hidden;
    }
    .product__card:hover .product__desc,
    .product__card:hover .product__name,
    .product__card:hover .product__price{
        opacity: 1;
}
}

/* Tablet */
@media (min-width: 576px) and (max-width: 992px){
    .drop{
        width: 700px;
        left: -50px;
    }
}

/* Mobile */
@media (max-width: 575px){
    .hide-on-mobile{
        display: none;
    }
    .show-on-mobile{
        display: block;
    }
    .news__link{
        display: flex;
    }
    .header__menu{
        display: block;
    }
    .header__menu-link{

    }
    .header__menu-icon{
        color: var(--text-color);
        font-size: 3rem;
        line-height: var(--header-top);
    }
}